
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header .menu
{
    width: 100%;
    background-color: white;
opacity: 0.9;
height: 100px;
border-bottom:2px rgb(241, 238, 238) solid ;
z-index: 100;
position: fixed;


}

header .menu ul 
{
    list-style-type: none;
   
    display: flex;
    margin-left: 700px;
  padding-top: 30px;
}

header .menu ul li a{
    text-decoration: none;
    color: black;
    padding-right: 40px;
    font-size: 16px;
    font-family: Britannic;
    font-style: normal;
}

header .menu ul li :hover{
    color:rgb(249, 7, 152);
}
.slide_img_header
{
    width: 99%;
    height: 700px;
    background-color: rgb(250, 247, 247);
    background-image: url('img//italian-3328121_1920.png');
    background-size: cover;
    background-repeat: no-repeat;
 animation-name: slide_img;
 animation-duration: 50s;
 animation-iteration-count: infinite;
 border: rgb(5,5,5) 3px solid;
position: relative;
top:100px;
right: -5px;

}
main
{
    margin-top: 800px;
}

@keyframes slide_img {
    5%{  background-image: url('img/food-3301662.jpg');}
    30%{  background-image: url('img/food-3329079_1920.png');}
    52%{  background-image: url('img/fried-food-3329076_1920.png');}
    70%{  background-image: url('img/pizza-2776188_1920.jpg');}
    85%{  background-image: url('img/skewer-3329078_1920.png');}

    
}


main .first_section
{
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    background-image: url('img/cherries-2905964.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   background-position-x:-750px; 
   background-position-y:-150px; 
    MARgin-top:-720px;
}
#contact_us
{
    background-color: gray;
   margin-left: 580px;
   margin-top: 20px;
   width: 200px;
   height: 33px;
   color: white;
   font-size: 18px;
   border: none;
}
#contact_us:hover
{
opacity: 0.8;
}
.main_second_section
{
    width: 100%;
    height: 700px;
    background-color:rgb(0, 0, 0);
   
    background-size: contain;
/*background-image: url('img/lime-907124.jpg');*/
    background-repeat: no-repeat;
   
}

.circle_move_div
{
    background-color: white;
    width: 370px;
    height: 370px;
    margin-left: 890px;
    margin-top: -250px;
    border-radius:360px;
    background-image: url(img/beverage-1869598.jpg);
    border: 1.5px rgb(249, 7, 152) solid ;
    background-size:cover ;
    background-position: top center;
    animation-name:circle_pic_change ;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
@keyframes circle_pic_change  {
    10%{ background-image: url(img/cookies-1264263_1920.jpg);}
    30%{ background-image: url(img/pizza-1549202_1920.jpg);}
    50%{ background-image: url(img/salmon-2925905_1920.jpg);}
    70%{ background-image: url(img/strawberry-smoothie-1418212_1920.jpg);}
    80%{ background-image: url(img/hamburger-1549235_1920.jpg);}
    90%{ background-image: url(img/food-3301662.jpg);}
  
    
}
.first_footer
{
    width: 100%;
    height: 300px;
    background-color: black;
    border-bottom:2px rgb(14, 13, 13) solid ;
    margin-top: -399px;
  
   
}
.second_footer
{ width: 100%;
    height: 100px;
    background-color: black;


}
